<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/custom.css' />
	
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
	<!-- START OF LOADING DIV -->
	<div id="disableDiv" class="disableDiv" style="display:none"></div>
	<div id="div_load_image" class="loadingArea" style="display:none">
		<img src="/images/loading.gif" style="width:150px; height:150px;">
	</div>
	<!-- END OF LOADING DIV -->

	<div class="wrap">
		<h1>랜덤 그래프 데이터셋 생성</h1>
		<div>
			<form name="frm" id="frm">
				<div>데이터 개수 : <input type="text" name="pairSetCnt" id="pairSetCnt" placeholder="데이터 개수를 입력하십시오."></div>
				<div>비교 횟수 : <input type="text" name="compCnt" id="compCnt" placeholder="비교 횟수를 입력하십시오."></div>
				<div>간격 : <input type="text" name="steps" id="steps" placeholder="간격을 입력하십시오.">&nbsp;&nbsp;&nbsp;
					<span style="color: #f00">*원형 랜덤셋 생성시 입력</span>
				</div>
				<div><button type="button" id="btn_down1" class="btn_down">랜덤셋 생성</button></div>
				<div><button type="button" id="btn_down2" class="btn_down">원형 랜덤셋 생성</button> </div>
				<div><button type="button" id="btn_down3" class="btn_down">체이닝 랜덤셋 생성</button></div>
			</form>		
		</div>
	</div>

	<script type="text/javascript">	

		function validChk(id) {
			if ($('#pairSetCnt').val() == '') {
				alert("데이터 개수를 입력하십시오.");
				$('#pairSetCnt').focus();
				return false;
			}
			if ($('#compCnt').val() == '') {
				alert("비교 횟수를 입력하십시오.");
				$('#compCnt').focus();
				return false;
			}
			if(id == 'btn_down2' && $('#steps').val() == '') {
				alert("간격을 입력하십시오.");
				$('#steps').focus();
				return false;
			}
			return true;
		}	

		$('.btn_down').click(function () {
			//유효성 체크
			if (validChk(this.id)) {
				$('#disableDiv').show();
				$('#div_load_image').show();

				var createUrl = '', downUrl = '';
				//console.log(this.id);
				switch(this.id) {
					case 'btn_down1':
						createUrl = '/down1Create';
						downUrl = '/down1';
						break;
					case 'btn_down2':
						createUrl = '/down2Create';
						downUrl = '/down2';
						break;
					case 'btn_down3':
						createUrl = '/down3Create';
						downUrl = '/down3';
						break;
				}

				$.ajax({             
					type: "GET",
					url: createUrl,
					data: $('#frm').serialize(),
					dataType : "json",
					error : function(){
						alert('에러가 발생했습니다.');
					},
					success : function(data){console.log(data);
						$('#disableDiv').hide();
						$('#div_load_image').hide();

						location.href = downUrl;
					}				
				}); 
			}
		});

	</script>
</body>

</html>