<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
		.disableDiv { 
			position:absolute; 
			left:0; 
			top:0;
			width:100%; 
			height:100%; 
			z-index:995 ; 
			background-color:#EEEEEE; 
			filter:Alpha(opacity=80);
			opacity:0.8; 
			-moz-opaciry:0.8
		}
		.loadingArea {
            position: absolute; 
            top: 32%; 
            left: 42%;
            width: 0px;
            height: 0px; 
            z-index: 3000; 
            filter: alpha(opacity=50); 
            opacity: alpha*0.5; 
            margin: auto; 
            padding: 0; 
            text-align: center
        }
	</style>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
	<div id="disableDiv" class="disableDiv" style="display:none"></div>
	<!-- START OF LOADING DIV -->
	<div id="div_load_image" class="loadingArea" style="display:none">
		<img src="/images/loading.gif" style="width:150px; height:150px;">
	</div>
	<!-- END OF LOADING DIV -->

	<h1>Pairwise 데이터셋 생성</h1>
	<div>
		<form name="frm" id="frm">
			<div style="margin: 10px;">데이터 개수 : <input type="text" id="pairSetCnt" placeholder="데이터 개수를 입력하십시오."></div>
			<div style="margin: 10px;">비교 횟수 : <input type="text" id="compCnt" placeholder="비교 횟수를 입력하십시오."></div>
			<button type="button" id="btn_down1" style="margin: 10px;">랜덤셋 생성</button>
			<button type="button" id="btn_down2" style="margin: 10px;">Pairwise셋 생성</button>
		</form>
	</div>

	<script type="text/javascript">		

		$('#btn_down1').click(function () {
			if ($('#pairSetCnt').val() == '') {
				alert("데이터 개수를 입력하십시오.");
				$('#pairSetCnt').focus();
				return false;
			}
			if ($('#compCnt').val() == '') {
				alert("비교 횟수를 입력하십시오.");
				$('#compCnt').focus();
				return false;
			}
			$('#disableDiv').show();
			$('#div_load_image').show();

			var params ={
				"pairSetCnt": $('#pairSetCnt').val(),
				"compCnt": $('#compCnt').val()
			}
			$.ajax({             
				type: "GET",
				url: "/down1Create",
				data: params,
				dataType : "json",
				error : function(){
					alert('통신실패!!');
				},
				success : function(data){console.log(data);
					$('#disableDiv').hide();
					$('#div_load_image').hide();
					location.href = '/down1';
				}				
			}); 
		});

		$('#btn_down2').click(function () {
			if ($('#pairSetCnt').val() == '') {
				alert("데이터 개수를 입력하십시오.");
				$('#pairSetCnt').focus();
				return false;
			}
			if ($('#compCnt').val() == '') {
				alert("비교 횟수를 입력하십시오.");
				$('#compCnt').focus();
				return false;
			}
			$('#disableDiv').show();
			$('#div_load_image').show();

			var params ={
				"pairSetCnt": $('#pairSetCnt').val(),
				"compCnt": $('#compCnt').val()
			}
			$.ajax({             
				type: "GET",
				url: "/down2Create",
				data: params,
				dataType : "json",
				error : function(){
					alert('통신실패!!');
				},
				success : function(data){console.log(data);
					$('#disableDiv').hide();
					$('#div_load_image').hide();
					location.href = '/down2';
				}				
			});			
		});

	</script>
</body>

</html>